<section class="paper-page">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>
            Paper Supplies
          </h1>
          <img class="header-image" src="../../images/paper-category2.png" alt="">
          <div class="papertype-selection">
            <label for="p-input">Paper Types: </label>
            <select name="p-input" id="p-input" class='input-types'
              ng-model='$ctrl.paperinput'
              ng-change="$ctrl.onChange()">
              <option ng-repeat="x in $ctrl.paperinputtypes">{{x}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="category-description" ng-switch='$ctrl.paperinput'>
      <div ng-switch-when="Printed Paper">
        <p>12" X 12" Printed Paper</p>
        <p>$.64 each</p>
      </div>
      <div ng-switch-when="Cardstock Chalky Stripes">
        <p>65 lb  8 1/2" x 11" Cardstock Chalky Stripes</p>
        <p>$.59 each</p>
      </div>
    </div>
    <div class="container">
      <div class="item-row">
        <div ng-repeat='prod in $ctrl.prods' class="col-md-3">
          <div class="item-card">
            <img ng-src="images/{{ prod.imageURL }}" />
            <h2 class="item-title">{{  (prod.productID ) ? (prod.productID +' - '+prod.name)
                : prod.name
              }}</h2>
            <p class= "item-info">
              <label>quantity:</label>
              <input type="number" value="1"/>
              $ {{prod.prices.unitPrice}}
            </p>
            <!-- <p class= "item-info">
              <label>quantity:</label>
              <input type="number" value="1"
                ng-model = '$ctrl.total'
                ng-change='$ctrl.updateTotal()'/>
              $ {{prod.prices.unitPrice}}
            </p> -->
            <ul class="item-card-footer">
              <li>
                <button class="item-card-btn" ng-click='$ctrl.addToCart()'>Add To Cart</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
