<header>
    <nav>
      <div class="navigation-container">
          <ul>
            <li class="nav-title">Linda's Creative Corner</li>
            <li class="nav-items"><a href="#!/"><i class="fa fa-home"></i> Home</a></li>
            <li class="nav-items"><a href="#"><i class="fa fa-info"></i> General Information</a></li>
            <li class="nav-items"><a href="#!/contact"><i class="fa fa-phone"></i> Contact</a></li>
            <li class="nav-items"><a href="#"><i class="fa fa-shopping-cart"></i> My Order</a></li>
        </ul>
      </div>
    </nav>
</header>
