nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 0px;
  text-align: right;
  border-bottom: 1px solid #8e827e;
}

nav ul li {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 0 16px;
  padding: 16px 0 16px 0;
}

nav ul li.nav-title {
  font-size: 20px;
  margin-right: 150px;
  color: #3a053a;
}
