.contact-page header{
  text-align: center;
}
.contact-page .page-title{
  text-align: left;
  font-weight: bold;
  margin-left: 50px;
}
.contact-page table{
  width: 600px;
  border: 0;
  spacing: 0;
  padding: 0;
}
.contact-page .contact-title{
  font-weight: bold;
}
.contact-page .header-image{
  margin-top: 25px;
}
.contact-page .contact-table{
  text-align: center;
}

.contact-page td{
  padding-left: 25px;
}
