<section class="contact-page">
  <header>
    <img class="header-image" src="../../images/store-small.png" alt="">
    <h1>Linda's Creative Corner</h1>
  </header>
  <main>
    <tr>
        <td>
          <p class="page-title">Contact Us</p>
        </td>
    </tr>
    <div align="center">
      <table>
        <tr>
          <td>
            <p class="contact-title">Address:</p>
            <p>2124 Cross Cove Rd, Martinsburg PA 16662</p>
            <p class="contact-title"><br/>Phone:</p>
            <p>(814) 766-2266 <br /></p>
            <p class="contact-title"><br/>Fax:</p>
            <p>(814) 766-0084</p>
          </td>
        </tr>
      </table>
    </div>
  </main>
</section>
